body {
  padding: 0;
  margin: 0;
  color: white;
}
* {
  font-family: "BEBAS", sans-serif !important;
}
@import "./fonts";
@import "base/variables";
@import "page/inGame";
@import "page/createGame";
@import "page/startGame";
@import "page/endGame";
@import "components/postes";
@import "components/overlay";
@import "page/choosePlayer";
