.checkmark{
    position: absolute;
    bottom: 3%;
    left: 2%;
    width: 35px;
    height: 35px;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
.create-input{
    &:checked + label{
        filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
        border-color: green;
        
        & .checkmark{
            transform: scale(1);
        }
    }
}
.create-btn{
    width: 50%;
    padding: 10px 0 10px 40px;
    text-align: left;
    border: 0;
    outline: none;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    margin: auto;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}