.inGame {
  background-image: url("../../assets/inGame/BgInGame.png");
  background-size: cover;
  height: 100vh;
}
.header {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scoreboard {
  height: 75px;
  padding-top: 45px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.left-content {
  display: flex;
  gap: 20px;
  font-size: 17px;
  align-items: center;
  background-color: #04141f;
  margin-left: 40px;
  padding: 0px 20px;
}
.logo {
  width: 35px;
}

.score {
  gap: 32px;
  display: flex;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 40px;
}
.right-content {
  display: flex;
  align-items: center;
  margin-right: 40px;

  gap: 20px;
}
.leave {
  background-color: $red_color;
  text-align: center;
  padding: 18px 20px;
}

.butBtn {
  background-color: $blue_color;
  padding: 35px 262px 35px 60px;
  font-size: 50px;
  background-size: cover;
  border: none;
  color: white;
}
.gamelleBtn {
  background-color: $blue_color;
  height: 120px;
  width: 220px;
  text-align: left;
  font-size: 20px;
  background-size: cover;
  border: none;
  color: white;
}
.demiBtn {
  background-color: $blue_color;
  height: 120px;
  width: 220px;
  text-align: left;
  font-size: 20px;
  background-size: cover;
  border: none;
  color: white;
}
.techniquesBtn {
  background-color: $blue_color;
  height: 120px;
  width: 220px;
  text-align: left;
  font-size: 20px;
  background-size: cover;
  border: none;
  color: white;
}
.fauteBtn {
  background-color: $blue_color;
  height: 120px;
  width: 220px;
  text-align: left;
  font-size: 20px;
  background-size: cover;
  border: none;
  color: white;
}
.swapBtn {
  background-color: $blue_color;
  height: 80px;
  width: 210px;
  text-align: left;
  font-size: 12px;
  background-image: url("../../assets/inGame/blue/bleuFaute.png");
  background-size: cover;
  border: none;
  color: white;
}
.swap {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
