.sign-in_page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-repeat: no-repeat;

    .sign-in_content{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 30px 20px;
        background-color: $white;

        h1,
        h2{
            color: $black;
            margin-top: 0;
        }
        h1{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 40px;
        }
        h2{
            font-size: 19px;
            font-weight: lighter;
            margin-bottom: 10px;
        }
    }
}